#contact-info img.avatar {
  display: block;
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}
#contact-info h3 {
  margin-bottom: 1rem;
}
#contact-info p {
  margin-bottom: 0;
}
#contact-info p:last-of-type {
  margin-bottom: 1rem;
}
.name,
.job {
  display: inline-block;
}
.job:before {
  content: "(";
}
.job:after {
  content: ")";
}
.phone:before {
  content: "Phone: ";
}
@media (min-width: 480px) {
  #contact-info img.avatar {
    float: left;
    margin-right: 1rem;
  }
  #contact-info form {
    clear: both;
  }
  #contact-info > article > div {
    height: calc(128px + 1rem);
  }
}
@media (min-width: 1024px) {
  #contact-info > article {
    align-self: start;
    padding: 1rem;
  }
  #contact-info > article:last-of-type {
    margin-bottom: 0;
  }
  #contact-info > article > div {
    height: 128px;
  }
  #contact-info form {
    margin-top: 1rem;
  }
}
#contact-info fieldset {
  padding: 1rem;
  border-radius: 0.5rem;
}
#contact-info form div > * {
  display: block;
}
#contact-info input,
textarea {
  width: 100%;
}
#contact-info textarea {
  height: 6rem;
  margin-bottom: 1rem;
}
#contact-info input[type="submit"] {
  position: relative;
  left: 2rem;
  width: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
#contact-info > img {
  display: none;
  object-fit: contain;
}
@media (min-width: 750px) {
  #contact-info {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 1rem;
  }
  #contact-info > article {
    grid-column: 1 / 2;
  }
  #contact-info > img {
    display: block;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: start;
  }
}
@media (min-width: 1024px) {
  #contact-info {
    margin-bottom: 1rem;
  }
}
